asgiref==3.10.0
openpyxl==3.1.5
Django==4.2.25
django-jazzmin==3.0.1
dj-database-url==2.3.0
gunicorn==23.0.0
lxml==6.0.2
psycopg2-binary==2.9.11
python-docx==1.2.0
python-dotenv==1.2.1
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.11.0