{% extends 'quiz/base.html' %}
{% block content %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <h4>Assalomu alaykum</h4> {{ user. }}

    <table>
        <tr>
            <th>Test raqami</th>
            <th>olgan bali</th>
            <th>Savol turi</th>
            <th>Sana</th>
        </tr>
        <tr>
            {% for test in my_test %}
                <td>{{ test }}</td>
                <td>{{ test.score }}</td>
                <td>{{ test.quiz_type }}</td>
                <td>{{ test.created |date:"d.m.Y H:i" }}</td>
                </tr>


            {% endfor %}
    </table>

{% endblock %}